<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>

{% include "components/navbar.html" %}

{% if errore %}
    <div class="alert alert-warning" role="alert">
        Errore : {{ errore }}
    </div>
{% endif %}
{% if successo %}
    <div class="alert alert-success" role="alert">
        {{ successo }}
    </div>
{% endif %}

    <div class="container">
<!------------------------------------------------------------------->
<!--transazioni-->
<!------------------------------------------------------------------->
        <div class="border border-3 row">
            <form method="post" action="">
                <legend>creazione transazione</legend>
                <div class="form-group mb-3">
                    <label for="ICTimporto">importo</label>
                    <input id="ICTimporto" class="form-control" type="text" name="importo" pattern="^-?[0-9]+.?[0-9]{0,2}$" required>
                </div>
                <div class="form-group mb-3">
                    <label for="CITdata">data</label>
                    <input id="CITdata" class="form-control" type="date" name="data" required>
                </div>
                <div class="form-group mb-3">
                    <label for="ICTconto">conto</label>
                    <select id="ICTconto" class="form-control" name="conto" required>
                        {% for conto in lista_conti %}
                        <option value="{{ conto[0] }}">{{ conto[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="ICTcategoria">categoria</label>
                    <select id="ICTcategoria" class="form-control" name="categoria" required>
                        {% for categoria in lista_categorie %}
                        <option value="{{ categoria[0] }}">{{ categoria[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="ICTdescrizione">descrizione</label>
                    <textarea id="ICTdescrizione" class="form-control" name="descrizione" rows="3" required></textarea>
                </div>
                <button class="btn btn-primary mb-3" type="submit" name="creaTransazione" required>CREA</button>
            </form>
        </div>
<!------------------------------------------------------------------->
<!--giroconto-->
<!------------------------------------------------------------------->
        <div class="border border-3 row">
            <form method="post" action="">
                <legend>creazione giroconto</legend>
                <div class="form-group mb-3">
                    <label for="ICGimporto">importo</label>
                    <input id="ICGimporto" class="form-control" type="text" name="importo" pattern="^[0-9]+.?[0-9]{0,2}$" required>
                </div>
                <div class="form-group mb-3">
                    <label for="CIGdata">data</label>
                    <input id="CIGdata" class="form-control" type="date" name="data" required>
                </div>
                <div class="form-group mb-3">
                    <label for="ICGcontoS">conto sorgente</label>
                    <select id="ICGcontoS" class="form-control" name="contoS" required>
                        {% for conto in lista_conti %}
                        <option value="{{ conto[0] }}">{{ conto[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="ICScontoD">conto destinazione</label>
                    <select id="ICScontoD" class="form-control" name="contoD" required>
                        {% for conto in lista_conti %}
                        <option value="{{ conto[0] }}">{{ conto[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary mb-3" type="submit" name="creaGiroconto" required>CREA</button>
            </form>
        </div>
<!------------------------------------------------------------------->
<!--conto-->
<!------------------------------------------------------------------->
        <div class="border border-3 row">
            <form method="post" action="">
                <legend>creazione conto</legend>
                <div class="form-group mb-3">
                    <label for="ICconto">nome conto</label>
                    <input id="ICconto" class="form-control" type="text" name="conto" required>
                </div>
                <button class="btn btn-primary mb-3" type="submit" name="creaConto">CREA</button>
            </form>
        </div>
<!------------------------------------------------------------------->
<!--categorie-->
<!------------------------------------------------------------------->
        <div class="border border-3 row">
            <form method="post" action="">
                <legend>creazione categoria</legend>
                <div class="form-group mb-3">
                    <label for="ICcategoria">nome categoria</label>
                    <input id="ICcategoria" class="form-control" type="text" name="categoria" required>
                </div>
                <button class="btn btn-primary mb-3" type="submit" name="creaCategoria">CREA</button>
            </form>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>